.filter-group{
  display: flex;
  flex-direction: column;

  &:not(:last-child){
    border-bottom: 0.11rem solid #ededed;
    padding-bottom: 1rem;
  }

  &:not(:first-child){
    margin-top: 1rem;
  }

  .filter-title{
    color: rgb(85, 85, 85);
    margin-bottom: .4rem;
  }

  .filter-item{

    &:not(:first-child){
      margin-top: .4rem;
    }
  }
}



.form-radio{
  border: 1px solid #dadada;
  padding: .8rem;
  border-radius: .5rem;
  background: none;
  display: flex;
  align-items: center;

  &:hover{
    border-color: var(--g-primary);
  }

  &.active{
    border-color: var(--g-primary);
    background: var(--p-amber-50);
    color: var(--p-amber-600);
  }

}

.form-radio-label{
  margin-left: .5rem;
  font-weight: 600;
}

.form-radio-input{
  width: 1rem;
  height: 1rem;
  margin: 0;

  &:checked{
    background-color: var(--p-amber-500);
    border-color: var(--p-amber-50);
  }

  &:focus{
    box-shadow: 0 0 0 0.25rem rgba(11, 177, 103, 0.25)
  }
}




