<table class="table table-custom mt-2 ">
  <thead class=" table-header">
  <tr>
    <th>
      <div class="d-flex align-items-center">
        <span>Client</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Véhicule</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Mécanicien</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Status</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
    <th>
      <div class="d-flex align-items-center">
        <span>Estimation temps restant</span>
        <div class="d-flex flex-column ms-2">
          <i class="pi pi-sort-up"></i>
        </div>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <!--            <td>-->
    <!--              <div class="circle c-primary bg-black" >-->
    <!--                <span class="fw-bold">1</span>-->
    <!--              </div>-->
    <!--            </td>-->
    <td>
      <a href="" class="link">
        Johan Anderson
      </a>
    </td>
    <td>
      <div class="d-flex flex-column">
        <a href="" class="link">Citroen C4</a>
        <span class="text-muted">DD 7542</span>
      </div>
    </td>
    <td>
      <a href="" class="link">
        Maylis Peter
      </a>
    </td>
    <td>
      <div class="d-flex align-items-center">
        <i class="pi pi-circle-on c-primary" ></i>
        <span class="ms-2 text-muted">En attente</span>
      </div>
    </td>
    <td>
      <span class="rounded-4 py-2 px-3 bg-dark fw-medium small c-primary" >4h 10min</span>
    </td>
  </tr>
  <tr>
    <!--            <td>-->
    <!--              <div class="circle c-primary bg-black" >-->
    <!--                <span class="fw-bold">1</span>-->
    <!--              </div>-->
    <!--            </td>-->
    <td>
      <a href="" class="link">
        Johan Anderson
      </a>
    </td>
    <td>
      <div class="d-flex flex-column">
        <a href="" class="link">Citroen C4</a>
        <span class="text-muted">DD 7542</span>
      </div>
    </td>
    <td>
      <a href="" class="link">
        Maylis Peter
      </a>
    </td>
    <td>
      <div class="d-flex align-items-center">
        <i class="pi pi-circle-on c-primary" ></i>
        <span class="ms-2 text-muted">En attente</span>
      </div>
    </td>
    <td>
      <span class="rounded-4 py-2 px-3 bg-dark fw-medium small c-primary" >4h 10min</span>
    </td>
  </tr>
  <tr>
    <!--            <td>-->
    <!--              <div class="circle c-primary bg-black" >-->
    <!--                <span class="fw-bold">1</span>-->
    <!--              </div>-->
    <!--            </td>-->
    <td>
      <a href="" class="link">
        Johan Anderson
      </a>
    </td>
    <td>
      <div class="d-flex flex-column">
        <a href="" class="link">Citroen C4</a>
        <span class="text-muted">DD 7542</span>
      </div>
    </td>
    <td>
      <a href="" class="link">
        Maylis Peter
      </a>
    </td>
    <td>
      <div class="d-flex align-items-center">
        <i class="pi pi-circle-on c-primary" ></i>
        <span class="ms-2 text-muted">En attente</span>
      </div>
    </td>
    <td>
      <span class="rounded-4 py-2 px-3 bg-dark fw-medium small c-primary" >4h 10min</span>
    </td>
  </tr>
  <tr>
    <!--            <td>-->
    <!--              <div class="circle c-primary bg-black" >-->
    <!--                <span class="fw-bold">1</span>-->
    <!--              </div>-->
    <!--            </td>-->
    <td>
      <a href="" class="link">
        Johan Anderson
      </a>
    </td>
    <td>
      <div class="d-flex flex-column">
        <a href="" class="link">Citroen C4</a>
        <span class="text-muted">DD 7542</span>
      </div>
    </td>
    <td>
      <a href="" class="link">
        Maylis Peter
      </a>
    </td>
    <td>
      <div class="d-flex align-items-center">
        <i class="pi pi-circle-on c-primary" ></i>
        <span class="ms-2 text-muted">En attente</span>
      </div>
    </td>
    <td>
      <span class="rounded-4 py-2 px-3 bg-dark fw-medium small c-primary" >4h 10min</span>
    </td>
  </tr>
  <tr>
    <!--            <td>-->
    <!--              <div class="circle c-primary bg-black" >-->
    <!--                <span class="fw-bold">1</span>-->
    <!--              </div>-->
    <!--            </td>-->
    <td>
      <a href="" class="link">
        Johan Anderson
      </a>
    </td>
    <td>
      <div class="d-flex flex-column">
        <a href="" class="link">Citroen C4</a>
        <span class="text-muted">DD 7542</span>
      </div>
    </td>
    <td>
      <a href="" class="link">
        Maylis Peter
      </a>
    </td>
    <td>
      <div class="d-flex align-items-center">
        <i class="pi pi-circle-on c-primary" ></i>
        <span class="ms-2 text-muted">En attente</span>
      </div>
    </td>
    <td>
      <span class="rounded-4 py-2 px-3 bg-dark fw-medium small c-primary" >4h 10min</span>
    </td>
  </tr>
  </tbody>
</table>
